{% extends 'base.html' %}

{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static "css/logs.css" %}">
{% endblock %}

{% block main-head %}
{% endblock %}

{% block main-body %}
    <div class="row row-panel-top">
        <div class="col-md-12">
            <div class="panel panel-default panel-big-con">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-th-large" aria-hidden="true"></i>
                        Logs
                    </h3>
                </div>
                <div class="panel-body">
                    <table id="logs_table" class="display" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>Date Time In</th>
                            <th>Time In</th>
                            <th>Time Out</th>
                            <th>Start Break</th>
                            <th>End Break</th>
                            <th>Overtime</th>
                            <th>Night Diff</th>
                            <th>Undertime</th>
                            <th>Absences</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for logs in emp_logs %}
                            <tr>
                                <td>{{ logs.log_date }}</td>
                                <td>{{ logs.log_time }}</td>
                                <td>{{ logs.log_out }}</td>
                                <td>{{ logs.start_break }}</td>
                                <td>{{ logs.end_break }}</td>
                                <td>{{ logs.overtime }}</td>
                                <td>{{ logs.night_def }}</td>
                                <td>{{ logs.undertime }}</td>
                                <td>{{ logs.lwop }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#logs_table').DataTable({});
        });
    </script>
{% endblock %}

