{% extends 'base.html' %}

{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static "css/change_password.css" %}">
{% endblock %}

{% block main-body %}
    <div class="row row-panel-top">
        <div class="col-md-12">
            <div class="panel panel-default panel-big-con">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-th-large" aria-hidden="true"></i>
                        Change Password
                    </h3>
                </div>
                <div class="panel-body">
                    {% csrf_token %}
                    <form method="POST" id="change-form" style="padding-top: 1em;">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-1 change-password">

                                    <div class="form-group">
                                        {# Old password #}
                                        <label class="custom-label-changep" for="input_old_pass">Old Password:</label>
                                        <span id="confirmMessage" class="confirmMessage"></span>
                                        <div class="input-group">
                                            <input id="input_old_pass" class="form-control" type="password" required>
                                        </div>
                                        {# End old password #}

                                        {# New password #}
                                        <label class="custom-label-changep" for="input_new_pass">New Password:</label>
                                        <span id="confirmMessage2" class="confirmMessage"></span>
                                        <div class="input-group">
                                            <input id="input_new_pass" class="form-control" type="password"
                                                   onkeyup="check_password_quality(); return false;" required>
                                        </div>
                                        {# End new password #}

                                        {# New password confirmation #}
                                        <label class="custom-label-changep" for="input_new_pass">
                                            New Password confirmation:
                                        </label>
                                        <span id="confirmMessage3" class="confirmMessage"></span>
                                        <div class="input-group">
                                            <input id="input_new_pass_confirm" class="form-control"
                                                   type="password" onkeyup="checkPass(); return false;" required>
                                        </div>
                                        {# End new password confirmation #}

                                        <button class="btn btn-success padding-pass" type="submit" disabled>
                                            Save changes
                                        </button>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <h3>Instructions on change of password</h3>
                                    <ul>
                                        <li>Your password can't be too similar to your other personal information.</li>
                                        <li>Your password must be a combination of characters and numbers.</li>
                                        <li>Your password can't be a commonly used password.</li>
                                        <li>Your password must contain at least 8 characters.</li>
                                        <li>Your password can't be entirely numeric.</li>
                                        {#                                <li>{{ passworddb }}</li>#}
                                        {#                                <li>{{ passwordajax }}</li>#}
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{% static "js/change_password.js" %}"></script>

    <script type="text/javascript">
        var validate_url = '{% url 'login:validate_password' %}';
        var change_url = '{% url 'login:change_password' %}';

        $('#change-form').on('submit', function (event) {
            event.preventDefault();
            {#            change_password(change_url);#}
            checkOldPass(validate_url);
        });
    </script>
{% endblock %}